In [27]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder


# Read the CSV file into a pandas DataFrame
data = pd.read_csv('trips.csv')
data['budget'] = data['budget'] / 100000

# Select the columns for clustering
selected_columns = ['trip_name', 'category', 'location', 'budget', 'rating']

# Perform label encoding for the 'category' column
label_encoder = LabelEncoder()
data['category'] = label_encoder.fit_transform(data['category'])

# Perform k-means clustering
kmeans = KMeans(n_clusters=3, random_state=42)
kmeans.fit(data[['budget', 'category']])

# Assign cluster labels to each data point
cluster_labels = kmeans.labels_

# Add cluster labels to the original DataFrame
data['cluster'] = cluster_labels

d:\python\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [37]:
data['category'].unique()

array([0, 2, 1, 3])

In [28]:
data.to_json("data_encoder.json")

In [29]:
# New data for testing
new_data = pd.DataFrame({
    'category': ['Landmark'],
    'budget': [424523]
})
new_data['budget'] = new_data['budget'] / 100000

# Perform label encoding for the new data
new_data['category'] = label_encoder.transform(new_data['category'])

# Predict the cluster label for the new data
new_data['cluster'] = kmeans.predict(new_data[['budget', 'category']])
# Retrieve the cluster label for the new data
new_data_cluster = new_data['cluster'].iloc[0]

In [30]:
filtered_data.head()

,trip_id,trip_name,category,budget,rating,location,cluster,distance
91,92,Archaeological Sites,3,4.62137,4.2,Bandung,0,0.37614
67,68,Architectural Marvels,3,4.69641,4.2,Surabaya,0,0.45118
99,100,Architectural Marvels,3,4.82361,4.2,Bandung,0,0.57838
51,52,Architectural Marvels,3,4.83982,4.2,Bandung,0,0.59459
83,84,Architectural Marvels,3,4.84216,4.2,Surabaya,0,0.59693

In [36]:
# Filter the data based on the predicted cluster label
filtered_data = data[data['cluster'] == new_data_cluster]

# Sort the filtered data based on the Euclidean distance from the new data point
filtered_data['distance'] = ((filtered_data['budget'] - new_data['budget'].iloc[0])**2 + 
                             (filtered_data['category'] - new_data['category'].iloc[0])**2)**0.5
filtered_data = filtered_data.sort_values('distance')

# Top K predictions based on the sorted distances
K = 3
top_K_points = filtered_data.head(K)

# Print the top K closest points
# print('\nTop', K, 'Closest Points:')
# print(top_K_points)

top_K_points.columns

C:\Users\L E N O V O\AppData\Local\Temp\ipykernel_15432\3549027086.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['distance'] = ((filtered_data['budget'] - new_data['budget'].iloc[0])**2 +

Index(['trip_id', 'trip_name', 'category', 'budget', 'rating', 'location',
       'cluster', 'distance'],
      dtype='object')

In [32]:
print(type(top_K_points))

<class 'pandas.core.frame.DataFrame'>

In [33]:
import joblib

In [34]:
# joblib.dump(label_encoder, "label_encoder.h5")

In [35]:
# joblib.dump(kmeans, "kmeans.h5")